<html>
  <head>
    <title>Bens Blog, REEEEEE</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Bens Blog</a></h1>
    </div>
    <p> Hi there!</p>
    <p> i think it's working </p>
    <div>
      {{ posts}}
       {% for post in posts%}
       {{ post }}
       {% endfor %}
      <ul>
	{% for post in posts%}
	<li>
	  {{post}}
	</li>
	{% endfor %}
      </ul>
    </div>
    
    <div>
      {% for post in posts %}
      <p>published: {{ post.published_date }}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
      {% endfor %}
    </div>
    
<! break >
  <br>
<! making a list >
  <ul><li>first item</li><li>second item</li></ul>
  </body>
</html>
